*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{
  width: 100%;
  min-height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Poppins', sans-serif;
}
a{
  color: black;
  text-decoration: none;
}
.navbar{
  width: 100%;
  height: 80px;
  position: fixed;
  top:0;
  z-index: 10;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-shadow: 0px 1px 4px #00000033;
}
.site-title{
  font-weight: bold;
  border-right: 1px solid #00000033;
  padding: 5px;
  line-height: 100%;
  color: #00000088;
  font-size: 1.5rem;
  transition: all 0.4s ease;
  overflow: hidden;
}
.site-title:hover{
  color: #55b3e6;
}
.site-title::first-letter{
  color: #55b3e6;

}
.container{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 130px;
  margin: auto;

}

h1{
  font-weight: normal;
  font-size: 1em;
}

.page-title{
  text-align: right;
  font-size: 4rem;
  position: relative;
  margin: 20px 0;
}
.page-title::after{
  content: "";
  width: 30%;
  height: 4px;
  position: absolute;
  bottom: -10px;
  background: #55b3e6;
}

.small {
  font-size: 2.5rem;
  text-align: left;
  margin: 40px 5px;
}
.small::after{
  width: 10%!important;
}
.right::after{
  right: 0;
}
.left::after{
  left: 0;
}

.circle{
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
  align-self: center;
  display:flex;
  align-items: center;
  justify-content: center;
  justify-self:center;
}
.project-list{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
}


.loading{
  position:fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  padding: 5px;
  line-height: 100%;
  color: #00000088;
  font-size: 1.5rem;
  transition: all 0.4s ease;
}
.loading span:first-of-type{
  color: #55b3e6;
}

.loading span{
   animation-name: bounce;
   animation-duration: 0.9s;
   display: inline-block!important;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   font-weight: bold;
   margin: 0 1px;
   font-size: 2em;
   opacity: 0.6;
   text-align: center;
   margin: auto;
   text-shadow: 1px 1px 1px #00000013;
}

.modal-clicker{
  cursor: pointer;
}
.modal{
  position: fixed;
  top:80px;
  right: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 4px #00000033;
  animation: slideIn 1s ease;
}

.modal-item{
  width: 400px;
  height: 80px;
  background: white;
  border-bottom: 1px solid gray;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.modal-name{
  font-size: 100%;
}
.modal-type{
  font-size: 70%;
}
@keyframes slideIn {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0%);
  }
}
@keyframes bounce {
  0%{
    transform: translateY(0px);
  }
  20%{
    transform: translateY(-6px);
  }
  35%{
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 600px) {
.container{
  width: 100%;
  padding-top: 80px;
  overflow-x: hidden;
}
.modal{
  right:0;
  left:0;
  top: 80px;
  width: 100%;
}
.modal-item{
  padding: 25px;
  text-overflow: ellipsis;
}
.page-title{
  font-size: 1rem;
  white-space: normal;
  font-weight: bold;
}
.page-title::after{
  content: "";
  width: 40%;
  height: 4px;
  position: absolute;
  bottom: -10px;
  right:-20px;
  background: #55b3e6;
}

}
